CodingChallenge/.idea
CodingChallenge/CodingChallenge/bin
CodingChallenge/CodingChallenge/obj
CodingChallenge/CodingChallengeTest/bin
CodingChallenge/CodingChallengeTest/obj
CodingChallenge/CodingChallenge.sln.DotSettings.user